<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string><![CDATA[http://jzylcdn.mengdini.com/package/jzyl-ios-0427.ipa]]></string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.ios.jzyl</string>
          <key>bundle-version</key>
          <string><![CDATA[1.0.1]]></string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string><![CDATA[金尊娱乐]]></string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>